@*
    
*@
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<p>You do not have permission to view the requested resource.</p>