@model Northwind.Security.Models.ActivateAccountModel

@{
    ViewData["Title"] = "Activate Account";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}
        <form asp-action="ActivateAccount">
             @await Html.PartialAsync("_ModelStateErrorsPartial")
            
            <p>Hi @Model.FirstName, Please create a password to confirm your account</p>

            <div class="form-group d-none">
                <label asp-for="UserIdentifier" class="control-label"></label>
                <input asp-for="UserIdentifier" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
            <div class="form-group d-none">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
            </div>

            <div class="form-group d-none">
                <label asp-for="UserFullName" class="control-label"></label>
                <input asp-for="UserFullName" class="form-control" />
            </div>

             <div class="form-group d-none">
                <input asp-for="ResponseType" class="form-control" />
            </div>

            <div class="form-group d-none">
                <input asp-for="ClientId" class="form-control" />
            </div>

            <div class="form-group d-none">
                <input asp-for="RedirectUri" class="form-control" />
            </div>

             <div class="form-group d-none">
                <input asp-for="Scope" class="form-control" />
            </div>

            <div class="form-group d-none">
                <input asp-for="State" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Activate Account" class="btn btn-primary w-100"/>
            </div>
        </form>
