@model Northwind.Security.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

        <form asp-action="ResetPassword">
             
            @await Html.PartialAsync("_ModelStateErrorsPartial")

            <div class="form-group d-none">
                <label asp-for="UserIdentifier" class="control-label"></label>
                <input asp-for="UserIdentifier" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
            </div>
            <div class="form-group d-none">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
            </div>
            <div class="form-group d-none">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>

             <div class="form-group d-none">
                <input asp-for="ResponseType" class="form-control" />
            </div>

            <div class="form-group d-none">
                <input asp-for="ClientId" class="form-control" />
            </div>

            <div class="form-group d-none">
                <input asp-for="RedirectUri" class="form-control" />
            </div>

             <div class="form-group d-none">
                <input asp-for="Scope" class="form-control" />
            </div>

            <div class="form-group d-none">
                <input asp-for="State" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

