@model Northwind.Security.Models.EmailModel
@{
    Layout = "./Views/Shared/_EmailTemplateLayout.cshtml";
}
    
            <p>Dear @Model.FirstName</p>
            <p>You have been added as a Northwind Admin Dashboard user. Use your email address as your Username </p>
            <p>Please activate your account <a href="@Model.Url">here</a>.</p> 
            <p>Kind Regards</p>
            <p>The Northwind Team.</p>

            <hr> 
            <p>This email has been sent to @Model.FullName please disregard if this is not you.</p>
