@model Northwind.Security.Models.EmailModel
@{
    Layout = "./Views/Shared/_EmailTemplateLayout.cshtml";
 }

            <p>Dear @Model.FirstName</p>
            <p>Your request to reset your password has been received, 
                you can reset your password <a href="@Model.Url">here</a>.</p>
            <p>Kind Regards</p>
            <p>The Northwind Team.</p>

            <hr> 
            <p>This email has been sent to @Model.FullName please disregard if this is not you.</p>