@{
    Layout = "_Layout.cshtml";
}

<div class="row min-vh-100 d-flex flex-row">
    <div class="col-md-6 offset-md-3 align-self-center">
        <div class="card">
        <div class="card-header">
            <div class="card-title">
                @ViewData["Title"]
            </div>
        </div>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
    </div>
</div>